@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p dir="rtl" lang="ar">
    این سایت به منظور مشاهده تاریخ و زمان نوبت های شخص و ثبت نوبت تعبیه شده است.
    </br>
    این سایت تحت 
    <a href="https://www.gnu.org/licenses/lgpl-3.0.html" class="text-primary">LGPLv3 License</a>
    منتشر شده است.
</p>
