@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    قوچان میدان آزادی..<br />
    <abbr title="Phone">PN:</abbr>
    09389898999
</address>

<address>
    <strong>Support:</strong>   <br/>
    <a href="mailto:seyyedmortezarazavi76@gmail.com">seyyedmortezarazavi76@gmail.com</a><br />
    <a href="mailto:vahidsadrnia@gmail.com">vahidsadrnia@gmail.com</a><br />
</address>