@section include{
    @model Clinic_Management_website.Database.Patient  
}

@{
    ViewBag.Title = "Home Page";
}

<div class="row" dir="ltr">

    <div class="col-md-4">
        @Model.name<br />
        @Model.lname
    </div>
    <div class="col-md-4">
        یک وقت گرفته شده در تاریخ:
        <br />
        @ViewBag.date
    </div>
    <div class="alert alert-success" role="alert">
        @ViewBag.message
    </div>
</div>