@section include{
    @model Clinic_Management_website.Database.Patient
}

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <table class="table">
        <tr>
            <th>
                نام
            </th>
            <th>
                نام خانوادگی
            </th>
            <th>
                تاریخ وقت گرفته شده
            </th>
        </tr>

        @if (Model != null)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Model => Model.name)
                </td>
                <td>
                    @Html.DisplayFor(Model => Model.lname)
                </td>
                <td>
                    @ViewBag.date
                </td>
            </tr>
        }
    </table>
    <div class="col-md-4">
        <div class="alert alert-info" role="alert">
            @ViewBag.message
        </div>
    </div>

</div>